* {
    box-sizing: border-box;
}

#nav_right {
    display: flex;
    /* margin: 10px; */
}

nav h2 {
    color: white;
    /* padding: 0%, 10%; */
    margin: 0 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

#sign_up {
    color: #622569;
    background-color: #d6d4e0;
    border-radius: 10px;
    padding: 2px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
    background-color: #622569;
    overflow: hidden;
}

nav h1 {
    font-family: 'Oswald';
    font-size: 90px;
    color: white;
}

.card_container_top {
    display: flex;
    flex-direction: column;
    background-color: #5b9aa0;
    width: 50%;
}

.container_top {
    display: flex;
    flex-direction: row;
}

.container_top p {
    color: white;
    font-family: 'Montserrat';
    font-size: 24px;
}

.container_top h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
}

#desire {
    color: #622569;
    background-color: #d6d4e0;
    background-clip: text;
    border-radius: 20px;
    padding: 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-top: 0px;
}

.card_container_middle_left {
    display: flex;
}

.container_middle_left {
    display: flex;
    flex-direction: column;
}

.container_middle_left h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    color: #622569;
}

.img_container {
    
}

.container_middle_left p {
    font-family: 'Montserrat';
    font-size: 21px;
}

.card_container_middle_right {
    display: flex;
    flex-direction: column;
    background-color: #622569;
    margin: 3px;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.container_middle_right {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    /* width: 80%; */
}

.container_middle_right h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
    margin-bottom: 0px;
}

.container_middle_right p {
    font-family: 'Montserrat';
    font-size: 18px;
    color: white;
    margin-top: 0px;
}

.container_middle {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
}

@media (max-width: 576px) {
    nav {
        display: none;
    }

    .container_top {
        flex-direction: column;
    }

    .card_container_top {
        width: 100%;
    }

    .card_container_top h3{
        margin-top: 0;
        margin-bottom: 8%;
    }
    
    .container_middle {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .card_container_middle_right{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .container_middle_right{
        margin-top: 0px;
        margin-left: 0px;
    }

    .container_middle_left{
        padding: 0 5%;
    }
}